.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login > a {
    padding: 20px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

@media (max-width: 900px) {
    .login img {
        width: 100%;
    }
}